/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Author     : xln
*/

body {
    margin-left: 5em;
    background-color: azure;
    vertical-align: top;
}

div{
    margin:0%;
}
h1 {
    font-size: 1.5em;
    margin-top: 0%;
    margin-left: 0%;
    color: rgb(5, 52, 115);
}

a{
    text-decoration: none;
    font-size: 1em;    
    font-weight: normal;
    display: block;
    text-align: left;
    margin-left: 6%;
    width: 20%  ;
}

a:hover {
    font-weight: bold;
    background-color: #8be6e6;
}


footer{
    margin-top: 8%;
    margin-right: 3%;
    float: right;
    font-style: italic;
}