/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Author     : xln
*/

/*
###########################################
GENERIC STYLES
###########################################
*/

body {
    margin-left:                2%;
    margin-right:               0.5%;
    padding-right:              1.1%;
    background-size:            cover;
    background-attachment:      fixed;
    width:                      99.9%;
    background-color:           aliceblue;
}

h1 {
    font-size:                  1.5em;
    margin-top:                 2%;
    margin-left:                0%;
    color:                      rgb(5, 52, 115);
    text-align:                 left;
    padding-top:                1%;
    padding-bottom:             1%;
    padding-left:               2%;
    width:                      95%;
}

h2 {
    font-size:                  1.3em;
    margin-top:                 2%;
    margin-left:                3%;
    margin-bottom:              0%;
    color:                      rgb(5, 52, 115);
}

a {
    text-decoration:            none;
    font-size:                  1em;    
    font-weight:                normal;
    display:                    block;
    text-align:                 left;
    margin-left:                4%;
    width:                      fit-content;
    color:                      rgb(5, 52, 115);
}

button{
    width:                      12em;
    height:                     1.5em;
    font-size:                  1em;
    background-color:           cornsilk;
    color:                      black; 
    text-align:                 center;
}

a:hover {
    font-weight:                bold;
    background-color:           #8be6e6;
}

button > a {
    width:                      fit-content;
    height:                     95%;
    font-size:                  1em;
    background-color:           darkblue;
    color:                      white; 
    margin-left: 15%;
    margin-top: 1%;
    font-weight: bold;
    
}

button > a:hover {
    width:                      fit-content;
    height:                     95%;
    font-size:                  1em;
    background-color:           rgb(117, 175, 250);
    color:                      black;
    text-align:                 center;
    font-weight:                bold;
    margin-left: 17%;
    margin-top: 1%;
}

button:hover {
    cursor:                     pointer;
    border:                     2px solid darkblue;
}

button:hover > a{
    background-color:  rgb(117, 175, 250);
    color: black;
    margin-left: 15%;
    margin-top: 1%;
    font-weight: bold;
}

textarea{
    font-size:                  1.2em;
    opacity:                    75%;
    margin-left:                4%;
}

p{
    width:                      100%;
    margin-top:                 0%;
    margin-left:                5%;
    padding:                    0%;
}

label{
    margin:                     0%;
    margin-left:                4%;
    font-weight:                bold;
    font-style:                 italic;
    color:                      rgb(123, 120, 120);
}

select{
    width:                      25%;
    height:                     1.5em;
    margin-left:                2%;
    font-size:                  1em;
}

img{
    opacity:                    0.3;
}

input{
    margin-left:                4%;
}

/*
form[name="menu"]{
    margin-left:                1%;
    vertical-align: top;
}
*/



p[name='header'] {
    font-size:                  1em;
    color:                      darkblue;
    margin-left:                4%;
}

p[name='sequence'] {
    font-family:                Courier New, Courier, monospace;
    font-size:                  1em;
    font-weight:                normal;
    color:                      darkblue;
    margin-left:                4%;
}

h1[name='dna_analysis'] {
    margin-left:                5%;
    margin-top:                 0%;
    padding-top:                0%;
    color:                      darkblue;
    position:                   absolute;
    transform:                  translate(0%, -300%);
}

h2[name="dna"]{
    width:                      95%;
    vertical-align:             middle;
    background-image:           url('dna.jpg');
    background-attachment:      fixed;
    background-size:            cover;
    color:                      wheat;
}

a[name="download_file"]{
    margin:                     0.1%;
}

button[name="download_file"]{
    width:                      30%;
}

input[type='text']{
    width:                      80em; 
    height:                     15em;
    padding:                    1;
}

input[type='checkbox']{
    width:                      3em;
    background-color:           cornsilk;
    cursor:                     pointer;
}

/*
###########################################
IDs
###########################################
*/

#main_div_form{
    width:                      43%;
    display:                    inline-block;
    vertical-align:             top;
    padding-top:                0%;
    padding-left:               2%;
    overflow-x:                 scroll;
    margin-right: 0%;
}

#submit_form{
    margin-left:                2%;
    padding-left: 4%;
}

#little_submit_input{
    width:                      25%;
    height:                     25px;
    border-radius:              10%;
    float:                      left;
    border:                     none;
    background-color:           darkblue;
    color:                      white;
    font-size:                  1em;
    vertical-align:             middle;
    font-weight:                bold;
    margin-left:                4%;
    text-align:                 center;
}

#little_submit_input2{
    width:                      15%;
    height:                     25px;
    border-radius:              10%;
    float:                      left;
    border:                     none;
    background-color:           darkblue;
    color:                      white;
    font-size:                  1em;
    vertical-align:             middle;
    font-weight:                bold;
    margin-left:                4%;
    text-align:                 center;
}

#little_submit_input:hover{
    width:                      25%;
    height:                     25px;
    border-radius:              10%;
    float:                      left;
    border:                     none;
    background-color:           rgb(117, 175, 250);
    color:                      darkblue;
    font-size:                  1em;
    vertical-align:             middle;
    font-weight:                bold;
    margin-left:                4%;
    text-align:                 center;
}

#little_submit_input2:hover{
    width:                      15%;
    height:                     25px;
    border-radius:              10%;
    float:                      left;
    border:                     none;
    background-color:           rgb(117, 175, 250);
    color:                      darkblue;
    font-size:                  1em;
    vertical-align:             middle;
    font-weight:                bold;
    margin-left:                4%;
    text-align:                 center;
}

#big_submit_input1{
    width:                      25%;
    height:                     50px;
    border-radius:              8%;
    margin-left:                4%;
    margin-top: 0.5%;
    float:                      left;
    border:                     none;
    background-color:           rgb(41, 101, 180);
    color:                      white;
    font-size:                  1.1em;
    vertical-align:             middle;
}

#big_submit_input2{
    width:                      25%;
    height:                     50px;
    border-radius:              8%;
    margin-left:                0.5%;
    margin-top: 0.5%;
    float:                      left;
    border:                     none;
    background-color:           rgb(41, 101, 180);
    color:                      white;
    font-size:                  1.1em;
    vertical-align:             middle;
}

#big_submit_input1:hover, #big_submit_input2:hover{
    border:                     none;
    background-color:           rgb(183, 213, 255);
    color:                      black;
    font-size:                  1.1em;
    vertical-align:             middle;
}

#pattern{
    width:                      24.5%;
    height:                     2em;
    margin-left:                2%;
}

#form1{
    display:                    inline-block;
    vertical-align:             top;
    padding-top:                2%;
    margin-left:                0.5%;
    width:                      100%;
}

#form2{
    display:                    block;
    margin-left:                0.5%;
    padding-top:                2%;
}

#error_result{
    width: 70%;
    margin-left: 2%;
}

#nucleotides_count_table{
    width: 70%;
    font-size: 1em;
    padding: 0%;
    border: none;
    margin-left: 4%;
}


#nucl_element_table{
    width: 15%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 0.9em;
    color: black;
    font-weight: normal;
    text-align: center;
}

#upload{
    background-color: black;
    color: white;
    font-size: 1em;
    border: none;
}

/*
###########################################
GET_POST_CUT_COMB_PATTERN.HTML
###########################################
*/

input[name="end_cut"]{
    margin-bottom: 1%;
    display: block;

}

input[name="start_cut"]{
    margin-bottom: 1%;
    display: inline;
    float: left;
    margin-right: 1%;
}

input[name="start_cut"], input[name="end_cut"]{
    font-size: 1em;
    width: 15%;
    background-color: #f6f6f670;
    border-color: darkblue;  
}

/*
###########################################
GET_P0ST_RANDOM_SEQUENCES.HTML
###########################################
*/

p[name="sequence"]{
    margin:                     0%;
    margin-left:                0%;
    padding:                    0%;
    width:                      fit-content;
}

div[name="result"]{
    background-color:           rgb(229, 239, 248);
    margin-left:                0.5%;
    padding-left:               1%;
    padding-top:                1%;
    padding-right:              2%;
    width:                      44%;
    display:                    inline-block;
    margin-top:                 0%;
    vertical-align:             top;
    overflow-x:                 scroll;
    overflow-x:                 scroll;
}

div[name="plot"]{
    display:                inline-block;
    width:                  650px;
    height:                 450px;
    margin:                 0%;
    margin-top:             2%;
    background-image:       url('my_plot.png');
    background-size:        contain;
    background-repeat:      no-repeat;
    padding-bottom:         2%;
    margin-bottom:          5%;
    margin-left:            5%;
}

form[name="fasta"]{
    padding-left:               0%;
    margin-left:                0%;
}

input[name="lines"]{
    width:                      25%;
    height:                     30px;
    border-radius:              4%;
    float:                      left;
    border:                     none;
    background-color:           rgb(255, 255, 255);
    color:                      black;
    border:                     1px solid darkblue;
    font-size:                  1em;
    vertical-align:             middle;
    text-align:                 center;
}

/*
###########################################
POST_OUTPUT_DB.HTML
###########################################
*/

h1[name="inserted"]{
    margin-left:                2%;
    font-size:                  1.5em;
    color:                      green;
    width:                      max-content;
}

button[value="ShowTable"]{
    margin-left:                4%;
}

/*
###########################################
BACK TO
###########################################
*/

h1[name="dna"]{
    width:                      95%;
    vertical-align:             middle;
    background-image:           url('dna.jpg');
    background-attachment:      fixed;
    background-size:            cover;
    color:                      white;
}

select[name="selected_field"]{
    margin-right:               0%;
    margin-left:                2%;
    font-size:                  1em;
}

input[name="field_to_go"]{
    width:                      10%;
    height:                     25px;
    border-radius:              10%;
    border:                     none;
    background-color:           darkblue;
    color:                      white;
    font-size:                  1em;
    vertical-align:             middle;
    font-weight:                bold;
    margin-left:                0%;
    text-align:                 center;
    margin-bottom: 0.3%;
}

input[name="field_to_go"]:hover{
    width:                      10%;
    height:                     25px;
    border-radius:              10%;
    border:                     none;
    background-color:           rgb(117, 175, 250);
    color:                      darkblue;
    font-size:                  1em;
    vertical-align:             middle;
    font-weight:                bold;
    margin-left:                0%;
    text-align:                 center;
}

/*
###########################################
FOOTER
###########################################
*/

footer{
    margin:                     3%;
    float:                      right;
    font-style:                 italic;
}

/*
###########################################
TABLE DATA BASE STYLE
###########################################
*/

th{
    border:                     none;
    padding-left:               0.3%;
    padding-right:              0%;
    margin:                     0.5%;
    width:                      fit-content;
    height:                     2%;
    color:                      white;
    background-color:           darkslategrey;
    vertical-align:             middle;
}

tr{
    border:                     none;
    border-bottom:              2px solid lightgray;
    padding:                    0.1%;
    margin:                     0.1%;
    text-align:                 center;
    font-family:                Courier, monospace;
}

th:nth-child(3){
    margin-left:                1%;
    margin-right:               1%;
}

td:nth-child(1){
    width:                      20%;    
}
td:nth-child(2){
    width:                      5%;    
}

td:nth-child(3){
    width:                      5%;    
}
td:nth-child(4){
    width:                      5%;    
}
td:nth-child(5){
    width:                      5%;    
}
td:nth-child(6){
    width:                      5%;    
}
td:nth-child(7){
    width:                      5%;    
}
td:nth-child(8){
    width:                      5%;    
}
td:nth-child(9){
    width:                      5%;    
}
td:nth-child(10){
    width:                      5%;    
}
td:nth-child(11){
    width:                      5%;    
}
td:nth-child(12){
    width:                      fit-content;    
}
td:nth-child(13){
    width:                      5%;    
}

tr:nth-child(even){
    background-color:           #dbdada;
}

td{
    border:                     none;
    border-right:               0px;
    border-left:                0px;
    padding:                    0.1%;
    padding-right:              1%;
    margin:                     0.1%;
    margin-right:               1%;
    font-size:                  0.7em;
    vertical-align:             middle;
    text-align:                 center;
    font-family:                Courier, monospace;
    width:                      fit-content;
    
}

td:first-child{
    text-align:                 left;
    width:                      20%;
}

td:last-child{
    text-align:                 center;
}

tr:hover {
    
    font-weight:                bold;
}

td:hover {
    font-weight:                bold;
    color:                      darkblue;
    border:                     2px solid darkblue;
    font-family:                Courier, monospace;
}

#table_div{
    width:                      97%;
    height:                     20%;
    margin:                     0%;
    padding-right:              0.5%;
    overflow-x:                 scroll;    
}

#table{
    border:                     none;
    display:                    block;
    
}

#check_btn{
    display:                    block;
    height:                     3em;
    margin-left:                3%;
}

#check_btn:checked ~ #table{
    display:                    none;
    border:                     0px;
}

label[name="show"]{
    margin-left:                3%;
    background-color:           white;
}

label[name="menu"]{
    margin-left:                2%;
}

table{
    border:                     2px solid darkblue;
    width:                      fit-content;
    border-collapse:            collapse;
    padding:                    0%;
    height:                     10%;   
}