/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 Feb 2022, 17:16:04
    Author     : xln
*/
/* SEQUENCE & DATA BASE INDEX STYLE */
/*
###########################################
GENERIC STYLES
###########################################
*/

body {
    padding-right:          1.1%;
    background-color:       aliceblue;
}

div{
    display:                inline-block;
    font-size:              1em;
    vertical-align:         top;
}

p{
    width:                  100%;
    height:                 100%;
    color:                  white;
    font-weight:            bold;
    text-align:             center;
    font-size:              2em;
}

img{
    margin:                 0%;
    padding:                0%;
    width:                  100%;
    height:                 17em;
}

a{
    text-decoration:        none;
    font-size:              1.1em;    
    font-weight:            normal;
    display:                block;
    text-align:             left;
    margin-left:            6%;
    width:                  fit-content;
    color:                  white;
    margin-top:             1%;
}

a:hover {
    font-weight:            normal;
    background-color:       whitesmoke;
    color:                  black;
}

/*
###########################################
LEFT MENU
###########################################
*/

div[name="left_menu"]{
    width:                  18%;
    padding-top:            0%;
    padding-right:          0.5%;
    padding-left:           0.5%;
    height:                 100%;
    font-size:              0.8em;
    background-color:       #000000;
    overflow-x:             scroll;
}

div[name="image"]{
    display:                inline-block;
    width:                  100%;
    margin:                 0%;
    margin-top:             2%;
    background-image:       url('dna_menu.jpg');
    background-size:        contain;
}

h1[name="left_menu"]{
    font-size:              1.3em;
    margin-top:             10%;
    margin-bottom:          6%;
    text-align:             left;
    color:                  black;
    background-color:       #FFFFFF;
    width:                  100%;
}

/*
###########################################
CENTRAL PAGE AREA
###########################################
*/

div[name="body_info"]{
    margin-top:             0%;
    margin-left:            -0.3%;
    width:                  70%;
    text-align:             center;
    font-size:              0.8em;
}

header{    
    margin-top:             0%;
    padding-top:            3%;
    float:                  top;
    font-size:              4em;
    font-weight:            bold;
    color:                  white;
    text-align:             left;
    width:                  100%;
    background-color:       #000000;
    text-align:             center;
}

/*
###########################################
RIGHT MENU
###########################################
*/

div[name="right_menu"]{
    float:                  right;
    visibility:             visible;
    width:                  10%;

    margin-top:             0%;
    height:                 fit-content;
    margin-top:            10%;
    padding-right:          0.5%;
    padding-left:           0%;
    font-size:              0.8em;
    background-color:       #000000;
    overflow-x:             scroll;
    scrollbar-color:        white black;
    scrollbar-width:        auto;
    margin-left:            -0.6%;
}



button[name="right_menu"]{
    color: white;
    background-color: #000000;
    font-weight: bold;
    margin: 0%;
}



div[name="p"]{
    display: inline;
    margin: 0%;
    padding: 0%;

    height: 800px;
    
}


h1[name="right_menu"]{
    display:                inline-block;
    font-size:              1.1em;
    background-color:       #FFFFFF;
    width:                  fit-content;
    margin-bottom:          0%;
    margin-left:            15%;
    
}

a[name="right_menu"]{
    width:                  fit-content;
    margin:                 0%;
    margin-left:            20%;   
}

/*
###########################################
GENERIC STYLES
###########################################
*/



/*
###########################################
FOOTER
###########################################
*/

footer{
    margin:                 3%;
    float:                  right;
    font-style:             italic;
    font-weight:            bold;
}