/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 Feb 2022, 17:16:04
    Author     : xln
*/

/*

AQUÍ COMENÇA EL QUE SERIA EL QUE ÉS L'ESTIL DE L'ESTRUCTURA DE LA WEB:

    - Capçalera.
    - Formulari lateral ESQUERRA.

*/

body {
    padding-right: 1.1%;
    padding-top: 0%;
    background-size: cover;
    background-image: url('molecules.jpg');
    background-attachment:fixed;
}

div {

    padding: 0.5%;
}

#div1 {
    width: 100%;

    background-color: white;
    opacity: 70%;


}

#div2 {
    margin-top: 1%;
    margin-left: 0.5%;
    width: 19%;
    padding: 0px;
    background-size: contain;
    background-attachment: inherit;
    background-position: right;    
}


h2{
    text-align: center;
    overflow: scroll;
    margin: 0px;
    padding: 1%;
}

h1 {
    font-size: 1.8em;
    margin-top: 1%;
    margin-left: 6%;
    color: rgb(63, 4, 141);
}

.field {
    background: lightgrey;
    color: black;
    padding-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-style: italic;
    text-align: left;
    font-size: 1.2em;
}

a {
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-left: 4%;
    width: fit-content;
}

a:hover {
    font-weight: bold;
    background-color: #8be6e6;
}




/*
The follow code, is to set up the style ONLY
for the information text when a link is hovered
*/

p {
    font-size: 1.1em;
    margin-left: 2%;
    margin-top: 5%;
    position: relative;
    left: 25%;
    top: 18%;
    display: none;
    
    
}

h3 {
    color: gray;
    position: relative;
    left: 25%;
    top: 17%;
    margin-left: 2%;
    display: none;
    font-style: italic;
    text-align: left;
    font-size: 2em;    
}

article {
    position: relative;
    left: 25%;
    top: 20%;
    display: none;
    
}

/*
div[id="div2"] > div[class="field"] > a[id="seq60"]:hover > article {
    border: 2px solid darkblue;
    margin-left: 25%;
    position: absolute;
    display: block;
}
*/

div:hover > h3{
    display: block;
    position: absolute;
    margin-bottom: 2%;
}

div:hover > h4{
    display: block;
    position: absolute;
    margin-bottom: 2%;
}

div:hover > p {
    display: block;
    position: absolute;
}

div:hover > article {
    display: block;
    position: absolute;
}


.output_title {
    font-size: 1.1em;
    background-color: powderblue;
    font-weight: bolder;
    font-style: italic;
    text-align: left;
}

.error_title {
    font-size: 1.1em;
    background-color:red;
    font-weight: bolder;
    font-style: italic;
    text-align: left;
    color: whitesmoke;
   
}

.output_example {
    font-family: 'Courier New', Courier, monospace;
   
}



.information {
    font-size: 1.3em;
   
}

