<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{url_for('static', filename='forms.css')}}" rel="stylesheet" type="text/css" >
        <title>{{ title }}</title>
    </head>

    <body>
        <h1 style="font-size: 4em; text-align: center; font-weight: normal;">Sequences & Data Base</h1>
        <h1 name="dna">{{ title }}</h1><br>

        {%  if title == 'DNA Translations'  or title == 'RNA'
            or title == 'AmAcid'     or title == 'Protein'%}

            <div id="main_div_form">
                

                <form action "http://localhost:5000/" method="post">

                    <label>Write or insert a DNA sequence:</label><br><br>
                    <textarea name="entry_sequence" placeholder="Write a DNA sequence" cols="72" rows="10"></textarea><br><br>

                    <label>Click the tranlation you want:</label><br><br>
                    <input name="rna" id="big_submit_input1" type="submit" value="RNA">
                    <input name="amacid" id="big_submit_input2" type="submit" value="AmAcid">
                    <input name="protein" id="big_submit_input2" type="submit" value="Protein">

                </form>

            </div>
        {% endif %}

        {%  if title == 'RNA'       or title == 'AmAcid'     
            or title == 'Protein' %}

        <div name="result" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal; color: darkblue"">
            <form name="fasta" action "http://localhost:5000/" method="post">
                <input name={{title}} id="little_submit_input" type="submit" value="Download FASTA">
            </form><br><br><br>
            {% for header, sequence in data %}            
                <p name="sequence" style="font-size: 1em;font-weight: bold;">{{ header }}</p>
                {% for slice in sequence %}
                    
                    {% if '_' not in slice and '|' not in slice and '^' not in slice %}
                        {{ slice }}<br>
                    {% endif %}
                    
                    {% if '_' in slice and '|' not in slice and '^' not in slice %}
                    <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: red;">{{ slice }}</p>
                    {% endif %}
                    
                    {% if '_' not in slice and '|' in slice and '^' not in slice %}
                        <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: red;">{{ slice }}</p>
                    {% endif %}
                    
                    {% if '_' in slice and '|' in slice and '^' not in slice %}
                        <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: red;">{{ slice }}</p>
                    {% endif %}

                    {% if '^' in slice %}
                        <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: red;">{{ slice }}</p>
                    {% endif %}
                
                {% endfor %}
                <br>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        
        <br><h1 name="dna">Back to</h1><br>
        
        <form name="menu" action "http://localhost:5000/" method="post">

            <label name="menu">Select field to go</label>
            <br>
            <br>
            <select name="selected_field" placeholder="Select one field">

                <option value="/">                                  Main Page                   </option>
                <option value="/reverse_and_complement">            Reverse & Complement        </option>
                <option value="/get_random_dna">                    Random DNA Sequences        </option>
                <option value="/get_random_prot">                   Random Protein Sequences    </option>                
                <option value="/get_translations">                  DNA Translations            </option>
                <option value="/get_seq_cutter">                    DNA Range Extractor         </option>
                <option value="/get_seq_combinator">                Combine sequences           </option>
                <option value="/get_dna_validator">                 Validate DNA                </option>
                <option value="/get_protein_validator">             Validate Protein            </option>
                <option value="/get_filter_valid_dna">              Filter & Validate DNA       </option>
                <option value="/get_filter_valid_protein">          Filter & Validate Protein   </option>
                <option value="/get_find_pattern">                  Find Pattern                </option>
                <option value="/get_dna_db.html">                   DNA Sequences Data Base     </option>
                <option value="/get_about.html">                    About this site             </option>

            </select>
            <input name="field_to_go" type="submit" value="Go">

        </form>
        
        <footer>X.Llobet Web Development<br>
            DAW - BIO_1<br>
            INS Provençana
        </footer>
    </body>
</html>
