<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{url_for('static', filename='forms.css')}}" rel="stylesheet" type="text/css" >
        <title>{{ title }}</title>
    </head>

    <body>
        <h1 style="font-size: 4em; text-align: center; font-weight: normal;">Sequences & Data Base</h1>
        <h1 name="dna">{{ title }}</h1><br>

        {%  if title == 'DNA 30bp'        or title == 'Random'          or title == 'DNA 60bp' 
            or title == 'DNA 120bp'                 or title == 'DNA 180bp'
            or title == 'DNA 600bp'                 or title == 'DNA 6000bp'
            or title == 'DNA User'                  or title == 'Protein 30bp' 
            or title == 'Protein 60bp'              or title == 'Protein 120bp' 
            or title == 'Protein 180bp'             or title == 'Protein 600bp' 
            or title == 'Protein 6000bp'            or title == 'Protein User'
            or title == 'Random Protein Sequences'  or title == 'Random DNA Sequences' %}

            <div id="main_div_form">
                <label name="menu">Click on the amount of nucleotides you want to show the result:</label><br><br>

                <form name="30bp" action "http://localhost:5000/" method="post">
                    <input name="30bp" id="big_submit_input1" type="submit" value="30bp">
                </form>

                <form name="60bp" action "http://localhost:5000/" method="post">
                    <input name="60bp" id="big_submit_input2" type="submit" value="60bp">
                </form>

                <form name="120bp" action "http://localhost:5000/" method="post">
                    <input name="120bp" id="big_submit_input2"  type="submit" value="120bp">
                </form>

                <form name="180bp" action "http://localhost:5000/" method="post">
                    <input name="180bp" id="big_submit_input1" type="submit" value="180bp">
                </form>

                <form name="600bp" action "http://localhost:5000/" method="post">
                    <input name="600bp" id="big_submit_input2" type="submit" value="600bp">
                </form>

                <form name="6000bp" action "http://localhost:5000/" method="post">
                    <input name="6000bp" id="big_submit_input2" type="submit" value="6000bp"><br><br><br><br><br>
                </form><br>

                <br><label name="menu">Write the amount of lines of 60bp you want:</label><br><br>
                <form name="Yours" action "http://localhost:5000/" method="post">
                    
                    
                    <input name="lines" type="text"  placeholder="Lines amount"><br><br>    
                    <input name="Yours" id="big_submit_input1" type="submit" value="Run Yours">
                </form>
            </div>
        {% endif %}

        {%  if title == 'DNA 30bp'                  or title == 'DNA 60bp' 
        or title == 'DNA 120bp'                     or title == 'DNA 180bp'
        or title == 'DNA 600bp'                     or title == 'DNA 6000bp'
        or title == 'DNA User'                      or title == 'Protein 30bp' 
        or title == 'Protein 60bp'                  or title == 'Protein 120bp' 
        or title == 'Protein 180bp'                 or title == 'Protein 600bp' 
        or title == 'Protein 6000bp'                or title == 'Protein User' %}

        <div name="result" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal; color: darkblue;">
            <form name="fasta" action "http://localhost:5000/" method="post">
                <input name="download_fasta" id="little_submit_input" type="submit" value="Download FASTA">
            </form><br><br><br>
            {% for header, sequence in data %}            
            <p name="sequence" style="font-size: 1em;font-weight: bold;">{{ header }}</p>
                {% for slice in sequence %}
                    
                    {% if '_' not in slice and '|' not in slice and '^' not in slice %}
                        {{slice}}<br>
                    {% endif %}
                    
                    {% if '_' in slice and '|' not in slice and '^' not in slice %}
                        {{slice}}<br>
                    {% endif %}
                    
                    {% if '_' not in slice and '|' in slice and '^' not in slice %}
                        <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: red;">{{ slice }}</p>
                    {% endif %}
                    
                    {% if '_' in slice and '|' in slice and '^' not in slice %}
                        <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: red;">{{ slice }}</p>
                    {% endif %}

                    {% if '^' in slice %}
                        <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: red;">{{ slice }}</p>
                    {% endif %}
                
                {% endfor %}
                <br>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        
        <br><h1 name="dna">Back to</h1><br>
        
        <form name="menu" action "http://localhost:5000/" method="post">

            <label name="menu">Select field to go</label>
            <br>
            <br>
            <select name="selected_field" placeholder="Select one field">
                
                <option value="/">                                  Main Page                   </option>
                <option value="/reverse_and_complement">            Reverse & Complement        </option>
                <option value="/get_random_dna">                    Random DNA Sequences        </option>
                <option value="/get_random_prot">                   Random Protein Sequences    </option>                
                <option value="/get_translations">                  DNA Translations            </option>
                <option value="/get_seq_cutter">                    DNA Range Extractor         </option>
                <option value="/get_seq_combinator">                Combine sequences           </option>
                <option value="/get_dna_validator">                 Validate DNA                </option>
                <option value="/get_protein_validator">             Validate Protein            </option>
                <option value="/get_filter_valid_dna">              Filter & Validate DNA       </option>
                <option value="/get_filter_valid_protein">          Filter & Validate Protein   </option>
                <option value="/get_find_pattern">                  Find Pattern                </option>
                <option value="/get_dna_db.html">                   DNA Sequences Data Base     </option>
                <option value="/get_about.html">                    About this site             </option>
                

            </select>
            <input name="field_to_go" type="submit" value="Go">

        </form>
        
        <footer>X.Llobet Web Development<br>
            DAW - BIO_1<br>
            INS Provençana
        </footer>
    </body>
</html>
