<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"   content="width=device-width, initial-scale=1.0">
        <meta name="Author"     content="Xavier Llobet Navàs"/>
        <meta name="Copyright"  content="Xavier Llobet Navàs" />
        <meta lang="es"/>
        <link href="{{url_for('static', filename='forms.css')}}" rel="stylesheet" type="text/css" >
        <title>{{ title }}</title>
    </head>

    <body>
        <h1 style="font-size: 4em; text-align: center; font-weight: normal;">Sequences & Data Base</h1>
        <h1 name="dna">DNA Table<br></h1>
        <div id="table_div">

            <label name="show" for="check_btn">

                 CHECK-BOX to Show/Hide Table

            </label>
            <input name="check" type="checkbox" id="check_btn" value="Check">
            <br>
            <table id="table">
                
                <tr >
                    {% for column in entry_columns %}
                    <th> {{ column }} </th>
                    {% endfor %}
                </tr>          
                
                    {% for row in entry_rows %}
                    <tr">
                        
                        {% for element in row %}            
                            <td><br>{{ element }}<br><br></td>
                            
                        {% endfor %}
                    </tr>
                    {% endfor %}
                
            </table>
        </div>

        <div id="form1">
            <h1 name="dna">Filter Table Data<br></h1>

            <form action "http://localhost:5000/" method="post">

                <label>Select columns to show</label><br><br>
                <input name="check" type="checkbox" value="Sequence">       Sequence<br>
                <input name="check" type="checkbox" value="Length">         Length<br>
                <input name="check" type="checkbox" value="A_Amount">       A_Amount<br>
                <input name="check" type="checkbox" value="A_perc">         A_%<br>
                <input name="check" type="checkbox" value="T_Amount">       T_Amount<br>
                <input name="check" type="checkbox" value="T_perc">         T_%<br>
                <input name="check" type="checkbox" value="C_Amount">       C_Amount<br> 
                <input name="check" type="checkbox" value="C_perc">         C_%<br>
                <input name="check" type="checkbox" value="G_Amount">       G_Amount<br>
                <input name="check" type="checkbox" value="G_perc">         G_%<br>
                <input name="check" type="checkbox" value="Tm_°C">          Tm_°C<br>
                <input name="check" type="checkbox" value="To_Protein">     To_Protein<br>
                <input name="check" type="checkbox" value="Mol_Weight_kDa"> Mol_Weight_kDa<br>
                <input name="check" type="checkbox" value="Prot_GRAVY">     Prot_GRAVY<br>
                <input name="check" type="checkbox" value="ALL">            ALL 
                <br><br>

                <label>Select a column to filter with</label><br>
                
                <select name="selected_column">
                    <option hidden value="seleccioneu">Select one column</option>
                    <option value="Sequence">Sequence</option>
                    <option value="Length">Length</option>
                    <option value="A_Amount">A_Amount</option>
                    <option value="A_perc">A_%</option>
                    <option value="T_Amount">T_Amount</option>
                    <option value="T_perc">T_%</option>
                    <option value="C_Amount">C_Amount</option>
                    <option value="C_perc">C_%</option>
                    <option value="G_Amount">G_Amount</option>
                    <option value="G_perc">G_%</option>
                    <option value="Tm_°C">Tm_°C</option>
                    <option value="To_Protein">To_Protein</option>
                    <option value="Mol_Weight_kDa">Mol_Weight_kDa</option>
                    <option value="Prot_GRAVY">Prot_GRAVY</option>
                </select><br><br>

                <label>Select an operator for the filtering</label><br>
                <select name="selected_filter">
                    <option hidden value="seleccioneu">Select type of filter</option>
                    <option value="equal to">EQUAL TO</option>
                    <option value="like">LIKE</option>
                    <option value="bigger than">BIGGER THAN</option>
                    <option value="less than">LESS THAN</option>
                    <option value="bigger or equal">BIGGER OR EQUAL THAN</option>
                    <option value="less or equal">LESS OR EQUAL THAN</option>
                    <option value="different">DIFFERENT TO</option>
                </select><br><br>

                <label>Write a pattern to filter rows</label><br>
                <input name="pattern" id="pattern" type="text" placeholder="Write pattern to filter rows with"><br><br>
                
                
        
                <input name="filter_dna" id="little_submit_input2" type="submit" value="Submit"><br><br>
                <input type="reset" id="little_submit_input2" value="Reset"><br>
               
            </form>
        </div>

        <div id="form2">
            
            <h1 name="dna">Show and/or download DNA Analysis<br></h1>

            <form action "http://localhost:5000/" method="post">
                <input name="sequence_text" id="pattern" type="text" placeholder="Write pattern to get a compact analysis"><br><br>
                <input name="dna_status_form" id="little_submit_input2" type="submit" value="Submit"><br><br>
                <input type="reset" id="little_submit_input2" value="Reset">
            </form>

        </div>

        <br>
        <h1 name="dna">Back to</h1><br>
        
        <form action "http://localhost:5000/" method="post">

            <label>Select field to go</label>
            <br>
            <br>
            <select name="selected_field" placeholder="Select one field">

                <option value="/">                                  Main Page                   </option>
                <option value="/reverse_and_complement">            Reverse & Complement        </option>
                <option value="/get_random_dna">                    Random DNA Sequences        </option>
                <option value="/get_random_prot">                   Random Protein Sequences    </option>                
                <option value="/get_translations">                  DNA Translations            </option>
                <option value="/get_seq_cutter">                    DNA Range Extractor         </option>
                <option value="/get_seq_combinator">                Combine sequences           </option>
                <option value="/get_dna_validator">                 Validate DNA                </option>
                <option value="/get_protein_validator">             Validate Protein            </option>
                <option value="/get_filter_valid_dna">              Filter & Validate DNA       </option>
                <option value="/get_filter_valid_protein">          Filter & Validate Protein   </option>
                <option value="/get_find_pattern">                  Find Pattern                </option>
                <option value="/get_dna_db.html">                   DNA Sequences Data Base     </option>
                <option value="/get_about.html">                    About this site             </option>

            </select>
            <input name="field_to_go" type="submit" value="Go">

        </form><br>

        <br><h1 name="dna">Download</h1><br>

        <div id="form2">

            <form action "http://localhost:5000/" method="post">
                <label>Select the format file</label><br>
                <select name="selected_format">
                    <option hidden value="seleccioneu">Select format file</option>
                    <option value="xlsx">Excel(.xlsx)</option>
                    <option value="csv">CSV(.csv)</option>
                    <option value="json">JSON(.json)</option>
                    <option value="html">Html(.html)</option>
                </select><br><br>

                <input name="to_download" id="little_submit_input2" type="submit" value="DOWNLOAD"><br><br>
                <input type="reset" id="little_submit_input2" value="Reset"><br>

            </form>

        </div>
        
        <footer>X.Llobet Web Development<br>
            DAW - BIO_1<br>
            INS Provençana
        </footer>

        

    </body>
</html>
