<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"   content="width=device-width, initial-scale=1.0">
        <meta name="Author"     content="Xavier Llobet Navàs"/>
        <meta name="Copyright"  content="Xavier Llobet Navàs" />
        <meta lang="es"/>
        <link href="{{url_for('static', filename='forms.css')}}" rel="stylesheet" type="text/css" >
        <title>{{ title }}</title>
    </head>

    <body>
        <h1 style="font-size: 4em; text-align: center; font-weight: normal;">Sequences & Data Base</h1>
        <h1 name="dna">{{ title }}</h1><br>

        {%  if title == 'DNA Validator Form'                    or title == 'Protein Validator Form'
            or title == 'DNA Filter & Validate Form'            or title == 'Protein Filter & Validate Form'
            or title == 'DNA Validator'                         or title == 'Protein Validator'
            or title == 'DNA Filter & Validate'                 or title == 'Protein Filter & Validate' 
            or title == 'DNA Molecular Weight'                  or title == 'Protein Gravy' 
            or title == 'DNA Molecular Weight Result'           or title == 'Protein Gravy Result'
            or title == 'Protein Molecular Weight'              or title == 'Protein Molecular Weight Result'
            or title == 'Nucleotides Amount'                    or title == 'Nucleotides Amount Result'
            or title == 'Codons Amount'                         or title == 'Codons'
            or title == 'DNA to Protein Gravy Result' %}

        <div id="main_div_form">
            <form action "http://localhost:5000/" method="post">

                <textarea name="entry_sequence" placeholder="Write a DNA sequence" cols="72" rows="10"></textarea><br><br>
                <input name="validator" id="little_submit_input" value="Validate" type="submit"/>
                <br><br>

            </form>
        </div>
        {% endif %}

        {%  if title == 'qPCR File Analysis' or title == 'qPCR Uploaded File'
            or title == 'qPCR Analysis' %}
        <div id="main_div_form">
            <form action "http://localhost:5000/" method="post" enctype="multipart/form-data">
                
                {% if title == 'qPCR Uploaded File' %}
                <h1>File Uploaded!</h1>
                {% endif %}

                <input name="file"    id="upload" type="file" accept=".txt"><br><br>
                <input name="upload_file"       id="little_submit_input" value="Upload" type="submit"/><br><br><br>
                
                <select name="file_names" placeholder="Select one">
                {% for file_name in files %}
                    <option value={{file_name}}> {{file_name}} </option>
                {% endfor %}
                </select><br><br>
                <input name="show_analysis"     id="little_submit_input" value="Show Analysis" type="submit"/><br><br>
                <br><br>

            </form>
        </div>
        {% endif %}

        {% if title == 'qPCR Analysis' %}

        <div name="result" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal; color: darkblue;">
            <form name="fasta" action "http://localhost:5000/" method="post" enctype=multipart/form-data>
                <input name={{title}} id="little_submit_input" type="submit" value="Download">
            </form><br><br>
            <div name="plot">
                
            </div>
        {% endif %}
        </div>

        {%  if title == 'DNA Validator'             or title == 'Protein Validator'
            or title == 'DNA Filter & Validate'     or title == 'Protein Filter & Validate' %}

        <div name="result" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal; color: darkblue;">
            <form name="fasta" action "http://localhost:5000/" method="post">
                <input name={{title}} id="little_submit_input" type="submit" value="Download FASTA">
            </form><br><br><br>
            {% for header, sequence in data %}            
                <p name="sequence" style="font-size: 1em;font-weight: bold;">{{ header }}</p>
                {% for slice in sequence %}

                    {% if '>' in slice and '_' not in slice and '|' not in slice and '^' not in slice %}
                    <br>{{slice}}<br>
                    {% endif %}
                    
                    {% if '_' not in slice and '|' not in slice and '^' not in slice and '>' not in slice %}
                        {{slice}}<br>
                    {% endif %}
                    
                    {% if '_' in slice and '|' not in slice and '^' not in slice %}
                    <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: black;">{{slice}}</p>
                    {% endif %}

                    {% if '_' not in slice and '|' in slice and '^' not in slice %}
                        <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: black;">{{ slice }}</p>
                    {% endif %}
                    
                    {% if '_' in slice and '|' in slice and '^' not in slice %}
                        <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: black;">{{ slice }}</p>
                    {% endif %}

                    {% if '^' in slice %}
                        <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: black;">{{ slice }}</p>
                    {% endif %}
                
                {% endfor %}
                <br>
            {% endfor %}
        </div>
        {% endif %}

        {%  if title == 'DNA Molecular Weight Result' or title == 'Protein Molecular Weight Result' %}

        <div name="result" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal; color: darkblue;">
            
                <p name="sequence" style="font-size: 1em;font-weight: bold;">{{ header }}</p><br> 
                <p name="sequence" style="font-size: 3em;font-weight: normal;">{{value}} kDa</p><br>               
                <br>
        </div>
        {% endif %}

        {%  if title == 'Protein Gravy Result' or title == 'DNA to Protein Gravy Result'  %}

        <div name="result" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal; color: darkblue;">
            
                <p name="sequence" style="font-size: 1em;font-weight: bold;">{{ header }}</p><br> 
                <p name="sequence" style="font-size: 3em;font-weight: normal;">{{value}}</p><br>               
                <br>
        </div>
        {% endif %}

        {%  if title == 'Nucleotides Amount Result' %}

        <div name="result" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal; color: darkblue;">
            
                <p name="sequence" style="font-size: 1em;font-weight: bold;">{{ header }}</p><br>

                <table id="nucleotides_count_table">
                
                    <tr >
                        {% for column_title in  headers_table %}
                            <th> {{ column_title }} </th>
                        {% endfor %}
                    </tr>  

                    {% for row in values %}
                    <tr">                        
                        {% for element in row %}            
                            <td id="nucl_element_table"><br>{{ element }}<br><br>                            
                        {% endfor %}
                    </tr>
                    {% endfor %}
                
                </table>             
                <br>
        </div>
        {% endif %}

        {% if title  == 'Codons' %}

        <div name="result" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal; color: darkblue;">
            <form name="fasta" action "http://localhost:5000/" method="post">
                <input name={{title}} id="little_submit_input" type="submit" value="Download">
            </form><br><br><br>
            <p name="sequence" style="font-size: 1em;font-weight: bold;">{{ header }}</p>

            {% for row in values.split('\n') %}
                {% if '>' in row %}
                    <br><p name="sequence" style="font-size: 1em;font-weight: bold;">{{row}}</p><br> 
                {% endif %}
                {% if '>' not in row %}
                    <p name="sequence" style="font-size: 1em;font-weight: normal;">{{row}}</p><br> 
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>

        

        <h1 name="dna">Back to</h1><br>
        
        <form action "http://localhost:5000/" method="post">

            <label>Select field to go</label>
            <br>
            <br>
            <select name="selected_field" placeholder="Select one field">

                <option value="/">                                  Main Page                   </option>
                <option value="/reverse_and_complement">            Reverse & Complement        </option>
                <option value="/get_random_dna">                    Random DNA Sequences        </option>
                <option value="/get_random_prot">                   Random Protein Sequences    </option>                
                <option value="/get_translations">                  DNA Translations            </option>
                <option value="/get_seq_cutter">                    DNA Range Extractor         </option>
                <option value="/get_seq_combinator">                Combine sequences           </option>
                <option value="/get_dna_validator">                 Validate DNA                </option>
                <option value="/get_protein_validator">             Validate Protein            </option>
                <option value="/get_filter_valid_dna">              Filter & Validate DNA       </option>
                <option value="/get_filter_valid_protein">          Filter & Validate Protein   </option>
                <option value="/get_find_pattern">                  Find Pattern                </option>
                <option value="/get_dna_db.html">                   DNA Sequences Data Base     </option>
                <option value="/get_about.html">                    About this site             </option>

            </select>
            <input name="field_to_go" type="submit" value="Go">

        </form><br>
        
        <footer>X.Llobet Web Development<br>
            DAW - BIO_1<br>
            INS Provençana
        </footer>
        
    </body>
</html>
