<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"   content="width=device-width, initial-scale=1.0">
        <meta name="Author"     content="Xavier Llobet Navàs"/>
        <meta name="Copyright"  content="Xavier Llobet Navàs" />
        <meta lang="es"/>
        <link href="{{url_for('static', filename='index_seq.css')}}" rel="stylesheet" type="text/css" >
        <title>{{ title }}</title>
        <script src="./js/index.js"></script>
    </head>

    <body>

        <!-- Manipulatinq DNA sequences menu (LEFT MENU) -->
        <div name="left_menu">

            <div name="image">
                <!-- <img src="{{url_for('static', filename='dna_menu.jpg')}}"> -->
                <br>
                <p>S & DB</p>
                <br><br><br>
            </div>
            <h1 name="left_menu">{{ header_dna }}</h1>
            
            <a  href="get_dna_validator"           >{{ validate_dna_header }}</a>
            <a  href="get_filter_valid_dna"        >{{ filt_val_dna_header }}</a>
            <a  href="reverse_and_complement"      >{{ compl_header }}</a>
            <a  href="get_translations"            >{{ translate_header }}</a>
            <a  href="get_seq_cutter"              >{{ seq_cutter_header }}</a>
            <a  href="get_seq_combinator"          >{{ combine_seq_header }}</a>
            <a  href="get_find_pattern"            >{{ find_pattern_header }}</a>
            <a  href="get_nucleotides_amount"      >{{ nucleotides_header }}</a>
            <a  href="get_codons_amount"           >{{ codons_header }}</a>
            <a  href="get_dna_molecular_weight"    >{{ dna_mol_weight_header }}</a>
            <a  href="get_dna_to_prot_gravy"       >{{ dna_to_prot_gravy_header }}</a>

            <!-- Manipulatinq DNA sequences menu (LEFT MENU) -->
            <h1 name="left_menu">{{ header_protein }}</h1>
            
            <a  href="get_protein_validator"       >{{ validate_prot_header }}</a>
            <a  href="get_filter_valid_protein"    >{{ filt_val_prot_header }}</a>
            <a  href="get_prot_molecular_weight"   >{{ prot_mol_weight_header }}</a>
            <a  href="get_prot_gravy"              >{{ prot_gravy_header }}</a>

            <!-- DNA sequences Data Base link -->
            <h1 name="left_menu">{{ header_db }}</h1>
                
            <a  href="get_dna_db.html"   target="_blank">Create Your DNA Data Base</a>

            <!-- Random Sequences Data Base link -->
            <h1 name="left_menu">{{header_random_seqs}}</h1>

            <a  href="get_random_dna"              >{{ rand_dna_header }}</a>
            <a  href="get_random_prot"             >{{ rand_prot_header }}</a>

            <!-- Experimental Tools -->
            <h1 name="left_menu">{{ tools_header }}</h1>

            <a  href="get_qpcr_analysis"           >{{ qpcr_header }}</a>
            
            <!-- About this site -->
            <h1 name="left_menu">{{ header_about }}</h1>

            <a  href="get_about.html"    target="_blank">About this site</a>
            <a  href="readme.html"       target="_blank">README</a>
            <br><br><br>
        </div>

        <!-- Central part. Header and an empty space for future information -->
        <div name="body_info">
            <header name="body_info">Sequences & Data Base<br><br></header><br><br>
        </div>

        <!-- Right button for to show the right menu (RIGTH MENU) 
        <div name="right_button">
            <button>></button>
        </div>-->
        
        <!-- Links of interest (RIGTH MENU) -->
        <div name="right_menu">
            <div name="p">
                <button name="right_menu"><br><br><br><br><br>L<br>I<br>N<br>K<br>S<br><br><br><br><br><br><br></button>
            </div>
            <div id="right_links_menu" name="right_links_menu">
                <br>
                
                <h1 name="right_menu"> Links of interest</h1><br><br>
        
                <a name="right_menu" href="http://www.ebi.ac.uk/embl/index.html" target="_blank">- EMBL</a>
                <a name="right_menu" href="http://www.ncbi.nlm.nih.gov/Entrez" target="_blank">- GenBank</a>
                <a name="right_menu" href="http://www.ddbj.nig.ac.jp/" target="_blank">- DDBJ</a>
                <a name="right_menu" href="https://www.ncbi.nlm.nih.gov/" target="_blank">- NCBI</a>
                <a name="right_menu" href="https://www.omim.org/" target="_blank">- OMIM</a>
                <a name="right_menu" href="https://blast.ncbi.nlm.nih.gov/Blast.cgi" target="_blank">- BLAST</a>
                <a name="right_menu" href="https://pubmed.ncbi.nlm.nih.gov/" target="_blank">- PubMed</a>
                <a name="right_menu" href="https://www.bioinformatics.org/sms2/" target="_blank">- SMS</a>
                <a name="right_menu" href="https://decs.bvsalud.org/E/homepagee.htm" target="_blank">- DeCS</a><br>
            </div>

        </div>

        <!-- Footer -->
        <footer>X.Llobet Web Development<br>
                DAW - BIO_1<br>
                INS Provençana<br>
        </footer>
    </body>
</html>
