<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"   content="width=device-width, initial-scale=1.0">
        <meta name="Author"     content="Xavier Llobet Navàs"/>
        <meta name="Copyright"  content="Xavier Llobet Navàs" />
        <meta lang="es"/>
        <link href="{{url_for('static', filename='forms.css')}}" rel="stylesheet" type="text/css" >
        <title>{{ title }}</title>
    </head>

    <body>
        <h1 style="font-size: 4em; text-align: center; font-weight: normal;">Sequences & Data Base</h1>
        <h1 name="dna">{{ title }}</h1><br>

        {%  if title == 'Molecular Weight Errors'               or title == 'Protein GRAVY Errors'
            or title == 'DNA Data Base Form Errors'             or title == 'DNA Find Pattern Errors'
            or title == 'DNA Combinator Errors (1st sequence)'  or title == 'DNA Combinator Errors (2nd sequence)' 
            or title == 'DNA Range Extractor Errors'            or title == 'DNA to RNA Errors'
            or title == 'DNA to AmAcid Errors'                  or title == 'DNA to Protein Errors' 
            or title == 'DNA Reverse Errors'                    or title == 'DNA Complement Errors' 
            or title == 'DNA Reverse-Complement Errors' 
            
            or title == 'Molecular Weight Errors empty'                        or title == 'Protein GRAVY Errors empty'
            or title == 'DNA Data Base Form Errors empty'                      or title == 'DNA Find Pattern Errors empty'
            or title == 'DNA Combinator Errors (1st sequence) empty'    or title == 'DNA Combinator Errors (2nd sequence) empty' 
            or title == 'DNA Range Extractor Errors empty'                     or title == 'DNA to RNA Errors empty'
            or title == 'DNA to AmAcid Errors empty'                           or title == 'DNA to Protein Errors empty' 
            or title == 'DNA Reverse Errors empty'                             or title == 'DNA Complement Errors empty' 
            or title == 'DNA Reverse-Complement Errors empty'                   or title == 'Codon Errors' %}

        <div name="result" id="error_result" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal; color: darkblue;">
            
                <p  name="sequence" style="font-size: 1.2em;font-weight: bold; background-color: black; color: white;">{{ message_error }}</p><br><br>
                
                
                {%  if title == 'Molecular Weight Errors'               or title == 'Protein GRAVY Errors'
                    or title == 'DNA Data Base Form Errors'             or title == 'DNA Find Pattern Errors'
                    or title == 'DNA Combinator Errors (1st sequence)'  or title == 'DNA Combinator Errors (2nd sequence)' 
                    or title == 'DNA Range Extractor Errors'            or title == 'DNA to RNA Errors'
                    or title == 'DNA to AmAcid Errors'                  or title == 'DNA to Protein Errors' 
                    or title == 'DNA Reverse Errors'                    or title == 'DNA Complement Errors' 
                    or title == 'DNA Reverse-Complement Errors' %}
                    
                <p  name="sequence" style="font-size: 1.1em;font-weight: bold;">> You can try the follow fields first:</p><br>
                <a  href="get_dna_validator"        style="text-decoration: underline;">Validate DNA</a>
                <a  href="get_filter_valid_dna"     style="text-decoration: underline;">Filter & Validate DNA</a><br><br>                
                
                {% endif %}
                <p  style="font-size: 1.1em;font-weight: bold; float: left; margin-left: 0%;"> DNA Validation Result:</p>                
                {% for slice in validation_result.split('\n') %}

                    {% if '>' in slice and '_' not in slice and '|' not in slice and '^' not in slice %}
                    <br>{{slice}}<br>
                    {% endif %}
                    
                    {% if '_' not in slice and '|' not in slice and '^' not in slice and '>' not in slice %}
                        {{slice}}<br>
                    {% endif %}
                    
                    {% if '_' in slice and '|' not in slice and '^' not in slice %}
                    <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: black;">{{slice}}</p>
                    {% endif %}

                    {% if '_' not in slice and '|' in slice and '^' not in slice %}
                        <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: black;">{{ slice }}</p>
                    {% endif %}
                    
                    {% if '_' in slice and '|' in slice and '^' not in slice %}
                        <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: black;">{{ slice }}</p>
                    {% endif %}

                    {% if '^' in slice %}
                        <p name="sequence" style="font-family: Courier New, Courier, monospace; font-size: 1em; font-weight: normal;color: black;">{{ slice }}</p>
                    {% endif %}
                
                {% endfor %}
                <br>
        </div>
        {% endif %}

        <h1 name="dna">Back to</h1><br>
        
        <form action "http://localhost:5000/" method="post">

            <label>Select field to go</label>
            <br>
            <br>
            <select name="selected_field" placeholder="Select one field">

                <option value="/">                                  Main Page                   </option>
                <option value="/reverse_and_complement">            Reverse & Complement        </option>
                <option value="/get_random_dna">                    Random DNA Sequences        </option>
                <option value="/get_random_prot">                   Random Protein Sequences    </option>                
                <option value="/get_translations">                  DNA Translations            </option>
                <option value="/get_seq_cutter">                    DNA Range Extractor         </option>
                <option value="/get_seq_combinator">                Combine sequences           </option>
                <option value="/get_dna_validator">                 Validate DNA                </option>
                <option value="/get_protein_validator">             Validate Protein            </option>
                <option value="/get_filter_valid_dna">              Filter & Validate DNA       </option>
                <option value="/get_filter_valid_protein">          Filter & Validate Protein   </option>
                <option value="/get_find_pattern">                  Find Pattern                </option>
                <option value="/get_dna_db.html">                   DNA Sequences Data Base     </option>
                <option value="/get_about.html">                    About this site             </option>

            </select>
            <input name="field_to_go" type="submit" value="Go">

        </form><br>
        
        <footer>X.Llobet Web Development<br>
            DAW - BIO_1<br>
            INS Provençana
        </footer>
        
    </body>
</html>
