<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"   content="width=device-width, initial-scale=1.0">
        <meta name="Author"     content="Xavier Llobet Navàs"/>
        <meta name="Copyright"  content="Xavier Llobet Navàs" />
        <meta lang="es"/>
        <link href="{{url_for('static', filename='forms.css')}}" rel="stylesheet" type="text/css" >
        <title>{{ title }}</title>
    </head>

    <body>
        <h1 style="font-size: 4em; text-align: center; font-weight: normal;">Sequences & Data Base</h1>
        <h1 name="dna">DNA Analysis</h1>
            <p>
                {{dna_analysis}}
            </p>
        

        <h1 name="dna">Back to</h1>
        
        <form action "http://localhost:5000/" method="post">

            <label>Select field to go</label>
            
            <select name="selected_field" placeholder="Select one field">

                <option value="/">                                  Main Page                   </option>
                <option value="/reverse_and_complement">            Reverse & Complement        </option>
                <option value="/get_random_dna">                    Random DNA Sequences        </option>
                <option value="/get_random_prot">                   Random Protein Sequences    </option>                
                <option value="/get_translations">                  DNA Translations            </option>
                <option value="/get_seq_cutter">                    DNA Range Extractor         </option>
                <option value="/get_seq_combinator">                Combine sequences           </option>
                <option value="/get_dna_validator">                 Validate DNA                </option>
                <option value="/get_protein_validator">             Validate Protein            </option>
                <option value="/get_filter_valid_dna">              Filter & Validate DNA       </option>
                <option value="/get_filter_valid_protein">          Filter & Validate Protein   </option>
                <option value="/get_find_pattern">                  Find Pattern                </option>
                <option value="/get_dna_db.html">                   DNA Sequences Data Base     </option>
                <option value="/get_about.html">                    About this site             </option>

            </select><br>
            <input name="field_to_go" type="submit" value="Go">

        </form><br>

        
        <footer>X.Llobet Web Development<br>
            DAW - BIO_1<br>
            INS Provençana
        </footer>

        

    </body>
</html>
